<ion-header>
  <ion-navbar>
    <ion-title>
      Baladas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of perfilPaginas">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{ item.picture.data.url }}">
      </ion-avatar>
      <h2>{{ item.name }}</h2>
      <p>@{{ item.username }}</p>
    </ion-item>

    <img *ngIf="item.cover" src="{{ item.cover.source }}">

    <ion-card-content>
      <p>{{ item.about }}</p>
      <p>{{ item.description }}</p>
    </ion-card-content>
    <ion-list>
      <button ion-item *ngIf="item.website">
        <ion-icon name="browsers" item-start></ion-icon>
        {{ item.website }}
      </button>
      <button ion-item *ngIf="item.location">
        <ion-icon name="pin" item-start></ion-icon>
        {{ item.location.street }} {{ item.location.city }}
      </button>
      <button ion-item *ngIf="item.phone">
        <ion-icon name="call" item-start></ion-icon>
        {{ item.phone }}
      </button>
      <button ion-item>
        <ion-icon name="thumbs-up" item-start></ion-icon>
        {{ item.fan_count | number }} Seguidores
      </button>
    </ion-list>

  </ion-card>
</ion-content>